<div class="container">
    <div class="row">
        <div class="col-sm-10 col-md-8">
            <header>
                <h1>{{data.post.title}}</h1>
                <h5>
                    {{{categoryList data.post.categories prefix="Posted in "}}}
                    {{#if author.name.first}}by {{author.name.first}}{{/if}}
                </h5>
            </header>
            <div class="post">
                {{{data.post.content.extended}}}
            </div>
            </hr>
            <p><a href="/news">&larr; back to news</a></p>
    
        </div>
        <div class="col-sm-12 col-md-3">
            {{>sidebar}}
        </div>
	</div>
</div>
