<h2 class="section-heading sidebar-heading">Our Partners</h2>
<div class="container">
    <div class="row">
    {{#each data.partners}}
        <div class="col-sm-6 col-md-12">
            <a href="{{{url}}}" target="_blank" title="{{{name}}}">
                <img src="{{{logoImage}}}" style="width: 200px" />
            </a>
        </div>
    {{/each}}
    </div>
</div>

