#header {
    padding: 105px 0 35px;
    background-attachment: fixed;
}

#header-bar {
    height: 205px;
    padding: 10px 0;
    background: url('/images/header-bg.png');
}


#navbar-nav {
    background: none;
    border: none;
}

.navbar {
    min-height: 0;
    border: none;
    margin: 0 0 10px;
}

.navbar-nav {
    li {
        a {
            padding: 0;
            margin: 0 7px;
            font-size: 22px;
            color: #ffffff; 
        }

        a:hover, .active  {
            background: none;
            color: $accent;
        }
    }
}

.member { 
    margin-top: 20px;
}

@media (min-width: 768px ) {
    .row {
        position: relative;
    }

    .bottom-align-text {
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

#footer {
	margin-top: 30px;
	border-top: 1px solid $gray-lighter;
	padding-top: 30px;
	color: $gray-light;
}

