html, body  {
    height : 100%;
    margin : 0;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin-bottom : -$footer-height;

    .push {
        height : $footer-height;
    }
}

h1, .section-heading {
    padding : 0 0 10px; 
    color : $font-base-colour;
    background : url('/images/header-dot.png') repeat-x bottom left;
}

#header {
    padding: 105px 0 35px;
    background-attachment: fixed;
}

#header-bar {
    height: 205px;
    padding: 10px 0;
    background: url('/images/header-bg.png');
}


#navbar-nav {
    background: none;
    border: none;
}

.navbar {
    min-height: 0;
    border: none;
    margin: 0 0 10px;
}

.navbar-nav {
    li {
        a {
            padding: 0;
            margin: 0 7px;
            font-size: 22px;
            color: #ffffff; 
        }

        a:hover, .active  {
            background: none;
            color: $accent;
        }
    }
}

.members-container {
    margin: 0;
    padding: 0;

    .member { 
        margin-top: 20px;

        h2 {
            margin-top : 0;
            font-family : $font-family-sans-serif;
        }

        .member-profile {
            border-radius : $border-radius-large;
        }
    }
}

@media (min-width: 768px ) {
    .row {
        position: relative;
    }

    .bottom-align-text {
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

#footer {
    width : 100%;
    margin : 0;
    height : $footer-height;
    background : $accent;

    a {
        color: #fff;
        font-size : $font-size-h6;
    }
}

