html, body  {
    height : 100%;
    margin : 0;
}

#body {
    padding-top : 60px;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;

    padding-bottom : 25px; 
    margin-bottom : -$footer-height;

    .push {
        height : $footer-height;
    }
}

h1, .section-heading {
    font-size : 30px;
    padding : 0 0 15px;
    min-height : 55px;
    color : $font-base-colour;
    font-weight : $headings-font-weight;
    background : url('/images/header-dot.png') repeat-x bottom left;
}

.sidebar-heading {
    font-weight : normal;
}

#header {
    padding: 35px 0 35px;
    background-attachment: fixed;
}

#header-bar {
    padding: 40px 0 20px;
    background: url('/images/header-bg.png');
}


#navbar-nav {
    background: none;
    border: none;
}

.navbar {
    min-height: 0;
    border: none;
    margin: 0;
}

.navbar-nav {
    li {
        a {
            padding: 0;
            margin: 0 7px;
            font-size: 17px;
            color: #ffffff; 
            font-family : $headings-font-family;
        }

        a:hover, .active  {
            background: none;
            color: $accent;
        }
    }
}

.members-container {
    margin: 0;
    padding: 0;

    .members { 
        margin-bottom: 25px;
    }

    .member { 
        margin-top: 20px;

        h2 {
            font-size : 20px;
            margin-top : 0;
            font-family : $font-family-sans-serif;
        }

        .member-profile {
            border-radius : $border-radius-large;
        }
    }

    .partner {
        margin: 14px 0;
    }
}

.partner-logo {
    display : block;
    margin : 10px 0;

    .img {
        width : 200px;
    }
}

.blog {
    h2 a {
        color : $font-base-colour;
    }
}

@media (max-width: 768px) {
    .nav > li {
        text-align : center;
    }
}

@media (min-width: 768px) {
    .row {
        position: relative;
    }
}

@media (max-width: 992px) {
    #header {
        padding-top : 35px;
    }

    #header-bar {
        height : auto;
    }

    .navbar {
        margin : 10px 0 0;
    }

    .nav > li {
        float : left;
        width : 50%;
        margin : 10px 0;
    }
}

@media (min-width: 992px) {
    .bottom-align-text {
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

#footer {
    width : 100%;
    margin : 0;
    height : $footer-height;
    background : $accent;

    a {
        color: #fff;
        font-size : $font-size-h6;
    }
}

